* {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-weight: bold;
    color: khaki;
    font-size: 100px;
}
h3 {
    font-weight: bold;
}
p {
    display: inline-block;
}
header {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1hum104*_ga*MTY3MTk0NDMxOS4xNjc0NTE5NjU2*_ga_3LRZM6TM9L*MTY4MDM4NTE1OS4xMi4xLjE2ODAzODUxNjkuNTAuMC4w);
}

.Prices{
    color: blue;
    font-weight: bold;
}
#Brushes {
    background-color: aquamarine;
    color: white;
}
#Frames {
    background-color: lightcoral;
    color: white;
}
#Paint {
    background-color: skyblue;
    color: white;
}